In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd

log = pd.read_csv("/Users/lizihao/Desktop/数据分析项目/mysql实现/UserBehavior_200w.csv", ',', names=['user_id','item_id','category','type','timestamp'])
log.shape

(2000000, 5)

In [8]:
log

         user_id  item_id  category type   timestamp
0              1  2268318   2520377   pv  1669310470
1              1  2333346   2520771   pv  1669328133
2              1  2576651    149192   pv  1669339285
3              1  3830808   4181361   pv  1669359893
4              1  4365585   2520377   pv  1669362546
...          ...      ...       ...  ...         ...
1999995   174060   575297   4145813   pv  1669536928
1999996   174060  1749248   4145813   pv  1669537027
1999997   174060  3000506   4643350   pv  1669537123
1999998   174060  1637122    982926   pv  1669537131
1999999   174060   968037    154040   pv  1669537209

[2000000 rows x 5 columns]

In [10]:
data = log[['user_id','item_id']]
data

         user_id  item_id
0              1  2268318
1              1  2333346
2              1  2576651
3              1  3830808
4              1  4365585
...          ...      ...
1999995   174060   575297
1999996   174060  1749248
1999997   174060  3000506
1999998   174060  1637122
1999999   174060   968037

[2000000 rows x 2 columns]

In [13]:
data = log[log.type == 'buy']
data

         user_id  item_id  category type   timestamp
71           100  1603476   2951233  buy  1669346308
73           100  2971043   4869428  buy  1669383949
100          100   598929   2429887  buy  1669525858
119          100  1046201   3002561  buy  1669533698
125          100  1606258   4098232  buy  1669556340
...          ...      ...       ...  ...         ...
1999784   174049  1284428    401765  buy  1669709420
1999785   174049   864043   2939262  buy  1669709420
1999811   174049  3431150   2945933  buy  1669999874
1999813   174049  3431150   2945933  buy  1670053256
1999923   174058  2964048   3776866  buy  1670055559

[40243 rows x 5 columns]

In [14]:
data = data[['user_id','item_id']]
data

         user_id  item_id
71           100  1603476
73           100  2971043
100          100   598929
119          100  1046201
125          100  1606258
...          ...      ...
1999784   174049  1284428
1999785   174049   864043
1999811   174049  3431150
1999813   174049  3431150
1999923   174058  2964048

[40243 rows x 2 columns]

In [15]:
data['item_id'] = data['item_id'].astype('str')
data_list = data.groupby('user_id').apply(lambda x:'-'.join(x['item_id']).split('-')).tolist()
data_list

[['1603476',
  '2971043',
  '598929',
  '1046201',
  '1606258',
  '4840649',
  '251391',
  '4075065'],
 ['1116495',
  '4552317',
  '4384339',
  '5107583',
  '4018400',
  '3025595',
  '3433276',
  '4975882',
  '1950959',
  '3149342'],
 ['2690355', '3380921', '3682089'],
 ['838828'],
 ['1285780', '646921', '4039172'],
 ['4224734'],
 ['598225'],
 ['2694860'],
 ['4013624', '4272380', '221857'],
 ['3616233'],
 ['1635996', '225511', '3480470'],
 ['2693876'],
 ['3713899'],
 ['1516237', '3497027', '3452114', '2363383'],
 ['2853564', '863860', '3530003', '895147'],
 ['4864962',
  '4973166',
  '1019434',
  '4342735',
  '3974052',
  '4300638',
  '4042179',
  '326420'],
 ['3677505', '524909', '5152568'],
 ['3116655', '1029005', '2031896', '255'],
 ['4995278', '2958669', '4337326', '3587604'],
 ['4504109', '1610903'],
 ['3364525'],
 ['14045', '753740'],
 ['4088252'],
 ['4017765', '20576', '447971', '2298101', '814810', '3570552', '3732528'],
 ['1057792',
  '3529774',
  '2729710',
  '3618406',
  '4906990',
  '2565959',
  '4508099',
  '448235',
  '1441702',
  '4504226'],
 ['2511987', '274133'],
 ['330057'],
 ['4038137'],
 ['2214355'],
 ['627600', '3467882'],
 ['3297924', '4354880'],
 ['3252734',
  '1037479',
  '289870',
  '1168232',
  '1880438',
  '3232367',
  '533008',
  '4533366',
  '3200976'],
 ['3008576'],
 ['2689262', '2751750', '5033119', '1728241', '318089', '3857035'],
 ['3500353',
  '4874559',
  '4460290',
  '3062330',
  '4419886',
  '4921620',
  '2794930',
  '2716553',
  '3458545',
  '177544',
  '3371567',
  '4460290'],
 ['1557428'],
 ['280876'],
 ['3844798'],
 ['4192590', '1332160'],
 ['923221',
  '803707',
  '3589427',
  '3799473',
  '4466806',
  '9930',
  '1329340',
  '2479320',
  '3811876',
  '2479320',
  '3811876',
  '3000081',
  '2485480',
  '3899380',
  '1033606',
  '283910',
  '219197',
  '3477528',
  '2571507',
  '2347540',
  '1117517',
  '2802716',
  '3040345',
  '4660760',
  '2174168',
  '3153341'],
 ['4988278', '614991'],
 ['4178729', '747370'],
 ['3122150'],
 ['894599', '56578', '379199'],
 ['42870', '424516'],
 ['1765858'],
 ['3633109'],
 ['2012723', '195647', '195647', '1882798', '1381908', '2616234'],
 ['3042008', '3189772'],
 ['1116579',
  '4146481',
  '373014',
  '3552372',
  '2492870',
  '4360354',
  '4698280',
  '4704350',
  '2793383',
  '683113'],
 ['1428554', '1004461', '4593857'],
 ['1043748', '1056243'],
 ['3052762', '2152059', '2117363', '3052762'],
 ['2552138'],
 ['2415830', '3292049'],
 ['1160306'],
 ['1527902', '803468', '4984017', '3469359'],
 ['4145703'],
 ['2981742', '2859085', '3570251'],
 ['4645705', '1789744'],
 ['1987828', '87244'],
 ['3781173', '1193708', '1193708'],
 ['4391970', '2350299', '2685027', '4025244', '3783339'],
 ['4151525', '412649', '1608512', '4259203', '4853628', '3829279'],
 ['1309141'],
 ['2744133', '668581'],
 ['887872', '4239967'],
 ['3983853', '1994387'],
 ['4759977', '3340177', '2036905'],
 ['1245280', '4711422'],
 ['257883'],
 ['403792', '3707266', '1005315', '2248720'],
 ['3196728', '1823881', '2185988', '3022251', '1170917'],
 ['1696188'],
 ['4855345'],
 ['418492'],
 ['1194629'],
 ['1410360', '2615369', '958298'],
 ['2659781'],
 ['653213', '2426147'],
 ['2085260', '3334522'],
 ['4920139', '1792019'],
 ['3863255'],
 ['1734742', '2605583', '3171374'],
 ['28756'],
 ['4999555', '2121641'],
 ['2995220'],
 ['678418', '3473368'],
 ['3356315', '606802', '2649896', '5106475'],
 ['607253'],
 ['888650', '2795136'],
 ['62544', '4156529', '203201'],
 ['4071470'],
 ['5099698', '3987147'],
 ['4186496', '2612258'],
 ['1841296', '3718042', '3718042'],
 ['438435', '2990469'],
 ['4306658', '2800851'],
 ['1889655', '3678468'],
 ['873363'],
 ['1097114', '1048127', '4848388'],
 ['4235707'],
 ['1591570'],
 ['1718103'],
 ['1695628', '4691562', '2628557'],
 ['1993958',
  '4945859',
  '37314',
  '2794153',
  '37314',
  '4603878',
  '1415565',
  '3615676',
  '3557403',
  '4676019'],
 ['863731'],
 ['3201805'],
 ['3233904', '4685098', '3052455', '1713881', '1212679', '1660891'],
 ['1904046', '1227391', '376658'],
 ['1079003', '2212646', '2132850', '2736714'],
 ['4046577', '1265317', '3641558', '1562036'],
 ['4723722', '3962369'],
 ['4077586'],
 ['1300993'],
 ['3987989'],
 ['818851', '3608481', '2531267', '4675617', '2751678'],
 ['4131558', '4808758'],
 ['4974495'],
 ['2140162', '2075645'],
 ['4411651'],
 ['697823'],
 ['3345071', '3336653'],
 ['2910657', '1216954', '3005635'],
 ['323329'],
 ['882745'],
 ['2045630'],
 ['5057000', '810742'],
 ['1124820'],
 ['3847051'],
 ['406955'],
 ['1048272', '2160146', '3933784'],
 ['4486374', '3844441', '1920772', '1839382', '2609139', '4642310', '4459366'],
 ['4640403', '1814089', '4944074'],
 ['1476704', '1834744'],
 ['650985'],
 ['1684282', '1660891', '120169'],
 ['4456811', '2731799'],
 ['232884', '576732', '2705457'],
 ['2558588'],
 ['3721196', '3861679', '2584268', '3861679', '2876179', '1136764', '246334'],
 ['2757803', '3046681'],
 ['2606942'],
 ['3244093', '5129776'],
 ['982350', '1858275', '5139534'],
 ['2140288', '3334189', '2193404', '430997'],
 ['2761238', '348292', '4593657', '1148117', '4246499', '1764997'],
 ['2827955'],
 ['4490966', '4295452', '2600649', '4570115'],
 ['229470', '1657375', '3083776', '3320758'],
 ['1805764', '3931856'],
 ['3599117', '2373433', '4985902'],
 ['919461', '4487429', '5027281'],
 ['5112707', '3870219', '4150724', '5005444', '2779890'],
 ['4069017'],
 ['5004557', '3884794'],
 ['2463484'],
 ['4002639', '3919330', '4222810'],
 ['1151191'],
 ['3785572'],
 ['179681', '454143', '4010287', '3443485', '913199', '432796'],
 ['3420764',
  '2275070',
  '1141196',
  '4007604',
  '4897104',
  '2279077',
  '336131',
  '1918064'],
 ['80051'],
 ['1292667'],
 ['1193487', '2068132'],
 ['5066343', '3514000', '524221'],
 ['1465011', '41966', '716368', '1048767', '2447866'],
 ['213747', '2240555', '1406896', '2601214'],
 ['676683', '3122135', '2852039', '3033663'],
 ['4621425', '2008710', '1969473', '3065719', '1546534'],
 ['1421689'],
 ['2736960', '3868689'],
 ['4756779', '2759567', '1571712', '757861'],
 ['1660355', '1660355', '1377340', '1869664'],
 ['1572663', '4236222'],
 ['3023685'],
 ['4041131', '25164'],
 ['477469',
  '602770',
  '2870031',
  '5110029',
  '4754594',
  '978308',
  '4104621',
  '4211869',
  '3502951',
  '1732503',
  '2873143'],
 ['3529774', '562038', '3880632', '127488', '1310234', '3529774'],
 ['23928'],
 ['1033240', '1852507'],
 ['2974129', '2282775', '802052', '2964774'],
 ['1094297', '3440353', '2599356', '3300853', '735181'],
 ['798502', '4979346', '3990539'],
 ['3032738'],
 ['1310041', '1310041', '1310041'],
 ['1290716'],
 ['1254537', '4038492', '3242045', '2781428'],
 ['197392'],
 ['1342307', '235540'],
 ['2161157'],
 ['978001'],
 ['4612693'],
 ['4795640', '4006170', '4791185'],
 ['568700'],
 ['652058'],
 ['6731', '831020', '1762506', '2630764', '4453719', '4337851'],
 ['699293'],
 ['2300579', '613299', '4771630', '4858570'],
 ['3649650', '378617', '4749091', '4228647'],
 ['2907145', '3437275'],
 ['5074946', '3880896'],
 ['3310966', '421215'],
 ['4826027'],
 ['3842088'],
 ['1654973', '3317723'],
 ['3845185'],
 ['2420577', '946664', '3554401', '1980362', '1557896', '4748022', '464578'],
 ['2926298', '1863438'],
 ['1735040'],
 ['528125'],
 ['4285510', '213302'],
 ['1775166',
  '1737730',
  '252851',
  '3083089',
  '3152193',
  '2127656',
  '950004',
  '2293489',
  '1351687',
  '4607264',
  '843164',
  '1429790'],
 ['4580981', '3705418', '3992270', '3835146'],
 ['4416265'],
 ['655571', '3102935', '2329438', '4085188', '4085188', '93783', '4085188'],
 ['1673997'],
 ['5157259'],
 ['999276'],
 ['4072173', '4461968'],
 ['4923968'],
 ['2367276', '3595190', '2469478', '3622147'],
 ['340834', '3077370', '1780731'],
 ['899744', '4893823', '5108643', '2909521', '4893823'],
 ['4863187', '2958557', '836118', '1315846', '1385520', '3427121', '2861670'],
 ['4038776'],
 ['2202628', '1916662', '2028481'],
 ['4927386'],
 ['1401647', '4103491', '4007958', '1401647'],
 ['166246', '2282693'],
 ['4221620', '2468705', '2468705'],
 ['3530295'],
 ['5065772', '1861309'],
 ['5152287', '3547450'],
 ['3328172'],
 ['3213933', '3092407', '2284483'],
 ['2045786', '303229'],
 ['4448832', '3882765', '2444790', '4417412', '2444790', '2444790'],
 ['1423087', '3922952', '1423087', '4969643'],
 ['3383256'],
 ['4670231',
  '3619591',
  '4210587',
  '3808403',
  '4985894',
  '2482932',
  '750902',
  '1455974',
  '812879',
  '2695282'],
 ['4147768'],
 ['644201', '5069450', '1898390'],
 ['2334738'],
 ['2517416',
  '2682097',
  '507118',
  '1285887',
  '893600',
  '3695613',
  '5103765',
  '1844924',
  '507118',
  '1069977',
  '657801',
  '2682097',
  '5103765',
  '3764362'],
 ['1460274'],
 ['4600171', '2907145'],
 ['2403975', '34271'],
 ['3488300', '3594489', '3835158', '821596', '1898542', '540468'],
 ['1036181'],
 ['1506901', '3039239', '3956425'],
 ['2498135', '3515666', '567791', '3036066', '486722'],
 ['2570134', '426265'],
 ['3272730'],
 ['3397009', '3325153', '4022462', '3469313', '3145758'],
 ['799466', '4687107', '1854236', '2329149'],
 ['1253939', '4881536', '4881536', '4881536'],
 ['3815365'],
 ['480654', '1622731', '5058011', '1124778', '3949072', '4695891'],
 ['5052182', '1554773'],
 ['4528472', '4315980', '2842596', '4611345'],
 ['2292075', '2472592', '1252580'],
 ['4756019', '4756019', '1892179'],
 ['1008155', '4260261', '2465533', '1083909', '5111217', '2010529'],
 ['1628109'],
 ['3715112'],
 ['414983',
  '3596654',
  '33011',
  '4685581',
  '33011',
  '4685581',
  '4685581',
  '33011',
  '3675150'],
 ['3078733', '2816596', '1280686', '3078733', '2047347'],
 ['3715112', '3903430'],
 ['95398', '672205', '996486', '712676'],
 ['816882', '4194961', '4717480', '5019212'],
 ['1389070', '1625061', '1892478'],
 ['3376220', '5129442'],
 ['2951393', '1220843', '4172459', '1220843', '805020', '491590', '3494156'],
 ['2123998', '2018822', '5067173', '5067173'],
 ['1881691', '1952049'],
 ['334302'],
 ['922005'],
 ['2635552', '2931238'],
 ['3399652'],
 ['4893862',
  '4569581',
  '1483910',
  '385673',
  '125715',
  '3309015',
  '1483910',
  '120529'],
 ['1847163'],
 ['2996902', '2059265', '2059265'],
 ['2577764', '3788677', '3093946'],
 ['53031', '3195089', '2064050', '3577326', '832451', '539196', '2920767'],
 ['3159624', '4370644'],
 ['2363021'],
 ['4604814', '2073090', '4916444', '3989998', '3762493'],
 ['3756131',
  '3449336',
  '956284',
  '3779796',
  '956284',
  '956284',
  '3180178',
  '1365581',
  '2142727',
  '3435022',
  '3580015'],
 ['874421'],
 ['1200331', '3454731'],
 ['3507026'],
 ['3222089', '169883', '3971090', '4385859', '2219843', '2153070'],
 ['1423593', '3220342', '3576777'],
 ['2979267'],
 ['137035', '1344242'],
 ['2232167', '1588320'],
 ['993520', '289566'],
 ['1237342', '3462016', '2063612'],
 ['4709852', '1501399'],
 ['4460461', '3353389', '355447', '1135136', '1142386'],
 ['919931', '953957', '4173229', '953957', '3522459'],
 ['2379579'],
 ['865901', '600209', '2514300', '13581', '3808145', '4059508'],
 ['4845455', '1922398'],
 ['3151925', '3151925', '1074025', '3399340', '2409359', '3151925', '1646812'],
 ['3280135'],
 ['2740949', '4320740', '2484616', '1076171', '839387', '4062198'],
 ['2189251', '2189251', '2189251', '2435668'],
 ['272154', '4848388', '3002574'],
 ['4995117', '4091349', '4090318', '4873154'],
 ['1359552'],
 ['700643', '4505812', '1344227'],
 ['5055983', '278102', '4370644', '3844773'],
 ['997059', '4939333'],
 ['2276441', '4069917', '1387179', '28362'],
 ['4480895', '4208706'],
 ['4148136', '92646'],
 ['1715761', '2740483', '2691273', '5083539', '2296186', '1221924', '2863432'],
 ['1035433', '575277', '3952039'],
 ['4823934', '3016147'],
 ['4337322', '4337322'],
 ['2128619', '684119'],
 ['1429219'],
 ['3458513'],
 ['630344', '5068697', '11991', '371030'],
 ['2350530', '668211'],
 ['927069'],
 ['2773152', '1207070'],
 ['2964774', '1683048'],
 ['3012260', '973198', '1172064'],
 ['148602', '1332182'],
 ['484610', '2734602', '484610', '3745851'],
 ['4412327', '5055055'],
 ['1522623'],
 ['3050336', '3800945', '3800945'],
 ['4358046', '1686870', '3674651'],
 ['5143557', '4366835', '4998168', '2822848'],
 ['4789150', '1690748', '1690748', '4789150', '1284489', '1690748', '4789150'],
 ['438743', '3438195', '4936898', '2101477', '5058011', '2260409', '946494'],
 ['2641461', '772610', '2067355', '3494731'],
 ['2142852'],
 ['1273229', '1257394'],
 ['1513528'],
 ['3951462', '2704433', '3673463'],
 ['3644420', '4845927'],
 ['4387640', '1883768', '2127656'],
 ['325430', '4116520', '482626', '4948032', '214440'],
 ['245338', '4205964'],
 ['3217189', '2610355'],
 ['2917387'],
 ['327014'],
 ['5002999', '1855923', '2606579', '3110040'],
 ['213659', '3659795'],
 ['2949074'],
 ['2193708', '1050845', '1608146', '2039449'],
 ['1182042'],
 ['463315'],
 ['4349771', '2381406', '1306808', '3833068', '4422934'],
 ['3449166'],
 ['1766707', '4923341', '1318007', '4892495'],
 ['2684664'],
 ['5000214'],
 ['2199553',
  '881051',
  '1471360',
  '317193',
  '3081713',
  '378373',
  '894480',
  '4194575',
  '4939602',
  '2829879',
  '1360115'],
 ['4874109', '1958832'],
 ['2154632'],
 ['4824550', '586227'],
 ['247898', '4404310', '3422760'],
 ['4841493',
  '2707630',
  '4841493',
  '3961776',
  '3810714',
  '3429877',
  '2130425',
  '4275812',
  '4275812',
  '504351',
  '3307905'],
 ['3519057'],
 ['4858976'],
 ['264846', '264846', '3282820', '3572077'],
 ['188566'],
 ['5007346', '554894'],
 ['485748', '2608736'],
 ['1321871',
  '1999140',
  '4839457',
  '336707',
  '742190',
  '2471766',
  '2469396',
  '2330320',
  '449830',
  '272682',
  '1418077',
  '1998976',
  '458325',
  '3740465',
  '1099219'],
 ['4539136', '998697', '3223100'],
 ['4693151', '3614812', '5010950'],
 ['4489811', '136606'],
 ['995603', '65043'],
 ['4961929'],
 ['4470639'],
 ['2137797', '4385629'],
 ['1362334'],
 ['5126771'],
 ['3068302', '4406495'],
 ['3784707'],
 ['4262924', '4392916', '4949582', '1144388', '3172761'],
 ['4032994', '1406398', '4806850'],
 ['3520504', '1422503', '4390588', '2047538'],
 ['3503558', '4549178', '2501811'],
 ['2148110', '717710'],
 ['2381685', '3169691', '3294529'],
 ['1169004', '3189471'],
 ['601155', '209468', '601155', '4172271'],
 ['4674422', '4378785', '3990539'],
 ['4598270', '4391945', '886628', '4151116'],
 ['1224652', '1172934', '1059099'],
 ['835672', '3381839', '4547148', '3381839', '401240', '1353957'],
 ['3577076'],
 ['4412327', '1918470', '1027468'],
 ['2211'],
 ['3174036'],
 ['1022771', '4656022', '2762094', '1246572'],
 ['3945860'],
 ['467245', '4807079', '136071', '4920018'],
 ['1567374'],
 ['3458912', '3082805', '2641905', '2641905'],
 ['1636829'],
 ['1779777', '2046043'],
 ['2565148'],
 ['4388244', '4168490', '5026662', '1518985', '4600205', '3528269', '1244376'],
 ['2020497', '4063028', '2929603'],
 ['5115729'],
 ['1217424', '4847987', '4546736'],
 ['4176643'],
 ['1035218',
  '4601812',
  '3166162',
  '1549683',
  '4541200',
  '4236414',
  '3681771',
  '2163984'],
 ['826466', '837753'],
 ['2504202'],
 ['4828918', '4291446'],
 ['3269481',
  '4757023',
  '4046528',
  '3941546',
  '4586550',
  '1136438',
  '1952091',
  '4982453',
  '3835566',
  '1096112',
  '1461956',
  '2062847'],
 ['512911'],
 ['3240112', '3237415', '283631'],
 ['2795442', '2813216'],
 ['3669358', '3039239', '5151193', '3873539', '2388902'],
 ['2098239', '2906459'],
 ['6887'],
 ['2399199', '4517575'],
 ['4468389', '169766'],
 ['2857971', '2857971', '2857971'],
 ['2368062', '1428049', '4262599'],
 ['166793'],
 ['920405', '1961987'],
 ['3411812'],
 ['4719949', '894838', '224998', '3997260'],
 ['2055840', '2055840'],
 ['1244887', '1392179', '4918839'],
 ['604265'],
 ['2929955', '5033150', '1885796'],
 ['1929107', '167541', '3229551', '3775845'],
 ['2573246', '527158'],
 ['4169726', '4972558'],
 ['1518655', '1399650'],
 ['769011', '3294934', '769011'],
 ['1278322', '3345494'],
 ['1782164',
  '484249',
  '102752',
  '4263984',
  '599478',
  '1588396',
  '1863969',
  '4970384',
  '2256549'],
 ['4222396', '1649917'],
 ['894724', '252626', '814556', '382342', '2665578'],
 ['1640038', '5027281'],
 ['845556'],
 ['860607', '5006577'],
 ['606179', '2457519'],
 ['61372', '1823728'],
 ['884988', '3378124'],
 ['4894759', '2902670'],
 ['4413672', '4389603', '4707259'],
 ['3005459', '4515824'],
 ['2309499', '2409321'],
 ['3786084'],
 ['532738', '2118471', '3368657', '4788655'],
 ['3424987', '345076', '4572055'],
 ['1359552'],
 ['4541011', '1424981', '3380557'],
 ['1679779',
  '341295',
  '4871525',
  '2987193',
  '4848076',
  '4279661',
  '725310',
  '4248435'],
 ['4923991'],
 ['701919',
  '470735',
  '3864788',
  '563886',
  '1004046',
  '4295759',
  '33086',
  '4171965',
  '4171965',
  '969186'],
 ['1767736'],
 ['247593', '3060597', '2656732', '2384498', '821769', '821769'],
 ['1152976'],
 ['1542970', '734797', '1406398', '3457671', '933446', '2697476', '2940082'],
 ['1490397'],
 ['1668727', '289947', '4500067'],
 ['4245680'],
 ['2792179',
  '143316',
  '2483960',
  '3239616',
  '1798104',
  '1022242',
  '4206954',
  '2365857',
  '2776615',
  '988897',
  '1868531',
  '4390212',
  '3221151',
  '4754939',
  '2923141'],
 ['2409557', '2934872'],
 ['2964774'],
 ['1405546', '3910563', '2691996', '857851', '221055', '2728300'],
 ['1916582', '1096644'],
 ['494063', '2601044', '213747', '3338772', '1379250', '349495', '5091971'],
 ['3876768'],
 ['3380670', '3254181'],
 ['1383282'],
 ['3140570', '3388519', '2413168', '3951677', '4019547'],
 ['4468587'],
 ['3197378'],
 ['391483', '1314318', '5139402'],
 ['1313526'],
 ['2661951',
  '507884',
  '628043',
  '1754831',
  '4361162',
  '4947932',
  '1443448',
  '3475450',
  '674753',
  '547078',
  '1999516',
  '3420562',
  '1885461',
  '4199886',
  '1486513',
  '4392936',
  '1290696'],
 ['1213305', '452854', '2508148', '4702669', '2640665'],
 ['2491049', '4730758', '1835639'],
 ['1486354'],
 ['1849180', '3967248'],
 ['3264019'],
 ['4108733', '1124254'],
 ['788426', '2135607', '1196035', '1203422', '1513115'],
 ['2146058', '42852', '4691058'],
 ['726505'],
 ['3017816'],
 ['3878489'],
 ['2192947'],
 ['3348446', '2818406'],
 ['2646118', '692931', '951673'],
 ['1306004'],
 ['11168', '2168581'],
 ['3806784'],
 ['3455984', '3455984'],
 ['4716909',
  '5004327',
  '4225484',
  '4264503',
  '2826355',
  '1471924',
  '4090142',
  '1320562',
  '3233154',
  '669104',
  '5024773',
  '3100087',
  '3286364',
  '2552068',
  '4921864',
  '1466457',
  '2976443'],
 ['4488087', '565074'],
 ['4176682'],
 ['2491009', '4290005'],
 ['4182272', '3022637'],
 ['3373993', '1764799', '2964177', '2528680', '3339855', '4383217'],
 ['241200', '267193', '4114103', '267193', '4114103', '2890856'],
 ['2330533', '303755', '456929'],
 ['1872808', '5023362', '4393855', '23357'],
 ['3557250'],
 ['1698134', '2087319', '4220640'],
 ['919077', '1912149', '5015128', '826425'],
 ['1430817'],
 ['3124794', '3723933', '4655591', '1234475', '1300509'],
 ['2676772', '1040482', '636283'],
 ['5088096', '5088096', '1289754', '1289754'],
 ['4691389'],
 ['448128'],
 ['630585'],
 ['4907885'],
 ['1927923'],
 ['4749680', '563835', '4881577'],
 ['4362153'],
 ['2723603'],
 ['4530257'],
 ['1494593'],
 ['3492115'],
 ['4163537', '362155', '4745036'],
 ['5015443', '2046560'],
 ['4896973', '4362577'],
 ['444165', '389829', '5122884'],
 ['2850021', '4814895'],
 ['4070591', '948716'],
 ['4014872'],
 ['1290141', '2583426', '3844414', '2583426', '478936', '4766543'],
 ['3285557', '3162363'],
 ['4855881'],
 ['534993',
  '534993',
  '5120676',
  '4117351',
  '2569803',
  '4665865',
  '3187702',
  '113654',
  '4207732',
  '2716429',
  '1042446',
  '293372',
  '4207732',
  '2716429'],
 ['363892'],
 ['75503', '47692'],
 ['907205'],
 ['544545', '1527822'],
 ['2523702'],
 ['758968', '1627110', '4492278', '4492278'],
 ['2934068'],
 ['4797846', '3447688', '2747380', '3644420'],
 ['1798673', '4176986', '3955200'],
 ['4002829', '4614683'],
 ['921277'],
 ['1505175', '23325'],
 ['711451'],
 ['3523958'],
 ['4245608', '1766010', '322269'],
 ['118747', '129771', '129771', '40093'],
 ['2402665', '1235382'],
 ['1011603', '193645', '3735758', '4562481', '4257524'],
 ['2764406'],
 ['2827989'],

In [17]:
from mlxtend.preprocessing import TransactionEncoder
tr = TransactionEncoder()
tr_ary = tr.fit_transform(data_list)

In [25]:
DF = pd.DataFrame(tr_ary,columns=tr.columns_)
DF

,1000273,1000294,1000333,1000533,100117,1001238,1001604,1002103,1002109,100216,...,998852,998959,999276,999340,999396,999626,999671,999752,999820,999949
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13325,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13326,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13327,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13328,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13329,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [27]:
#输出频繁项集
from mlxtend.frequent_patterns import fpgrowth

frequent_items = fpgrowth(DF, min_support=0.0001, use_colnames=True)
frequent_items

       support            itemsets
0     0.000225           (4840649)
1     0.000150           (1046201)
2     0.000150           (1603476)
3     0.000150           (3149342)
4     0.000675           (3452114)
...        ...                 ...
3716  0.000150  (2160688, 4252236)
3717  0.000150  (2770425, 4719912)
3718  0.000150   (3452114, 693361)
3719  0.000150  (2006040, 4562422)
3720  0.000150    (359871, 208968)

[3721 rows x 2 columns]

In [28]:
#找到频繁项集为2的集合
frequent_items[frequent_items['itemsets'].str.len()>=2]

      support            itemsets
3625  0.00015  (2363383, 3452114)
3626  0.00015   (4041131, 714739)
3627  0.00015  (3152193, 1775166)
3628  0.00015   (491590, 3494156)
3629  0.00015    (491590, 805020)
...       ...                 ...
3716  0.00015  (2160688, 4252236)
3717  0.00015  (2770425, 4719912)
3718  0.00015   (3452114, 693361)
3719  0.00015  (2006040, 4562422)
3720  0.00015    (359871, 208968)

[96 rows x 2 columns]

In [31]:
frequent_items

       support            itemsets
0     0.000225           (4840649)
1     0.000150           (1046201)
2     0.000150           (1603476)
3     0.000150           (3149342)
4     0.000675           (3452114)
...        ...                 ...
3716  0.000150  (2160688, 4252236)
3717  0.000150  (2770425, 4719912)
3718  0.000150   (3452114, 693361)
3719  0.000150  (2006040, 4562422)
3720  0.000150    (359871, 208968)

[3721 rows x 2 columns]

In [30]:
from mlxtend.frequent_patterns import association_rules
arresult = association_rules(frequent_items, metric='confidence', min_threshold=0.5)